# FelineMetrics

In [33]:
# import numpy as np
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

In [82]:
# pets is a DataFrame that lists all pets in database

pets_cols = ['petID', 'name', 'species', 'breed', 'birthdate', 'is_active', 'deathdate', 'age']

pets = pd.DataFrame(columns = pets_cols)

In [83]:
pets

Empty DataFrame
Columns: [petID, name, species, breed, birthdate, is_active, deathdate, age]
Index: []

In [84]:
pet_info = pd.DataFrame[{
        'petID': 0, 
        'name': 'Sebastian', 
        'species': 'cat', 
        'breed': 'siberian', 
        'birthdate': date(2005, 6, 15), 
        'is_active': False, 
        # 'age': 6,
        'deathdate': date(2011, 6, 20)
    },
    {
        'petID': 1, 
        'name': 'Mel', 
        'species': 'cat', 
        'breed': 'siberian', 
        'birthdate': date(2011, 8, 5), 
        'is_active': True, 
        # 'age': relativedelta(date.today(), date(2011, 8,5)),
        'deathdate': None
    }]

#pets = pd.concat([pets, pets_info], ignore_index=True)

#pets = pd.DataFrame[pet_data]

In [85]:
pets.sort_values(by='birthdate')

  petID       name species     breed   birthdate is_active   deathdate  age
0     0  Sebastian     cat  siberian  2005-06-15     False  2011-06-20  NaN
1     1        Mel     cat  siberian  2011-08-05      True        None  NaN

In [40]:
print(relativedelta(date.today(), date(2011, 8,5)).years)

13

In [86]:
def age(pet):
    alive = pet['is_active']
    birth = pet['birthdate']
    death = pet['deathdate']
    if alive:
        return relativedelta( date.today(), birth )
    else:
        return relativedelta( death, birth )

In [87]:
pets[pets['petID']==0][['birthdate']]

    birthdate
0  2005-06-15

In [88]:
pets['age'] = pets.apply(age, axis=1)

In [89]:
pets

,petID,name,species,breed,birthdate,is_active,deathdate,age
0,0,Sebastian,cat,siberian,2005-06-15,False,2011-06-20,"relativedelta(years=+6, days=+5)"
1,1,Mel,cat,siberian,2011-08-05,True,None,"relativedelta(years=+13, months=+10, days=+28)"

In [90]:
pets.to_csv('./data/pets.csv', index=False)

## Read Pet Data

In [93]:
df = pd.read_csv('./data/pets.csv')

df

,petID,name,species,breed,birthdate,is_active,deathdate,age
0,0,Sebastian,cat,siberian,2005-06-15,False,2011-06-20,"relativedelta(years=+6, days=+5)"
1,1,Mel,cat,siberian,2011-08-05,True,NaN,"relativedelta(years=+13, months=+10, days=+28)"

## Create New csv Files

In [97]:
# record file

record_cols = ['date', 'petID', 'event', 'clinic', 'clinicID', 'vet', 'vetID', 'notes']

test_cols = ['petID', 'date', 'variable', 'measurement', 'units', 'notes', 'clinic', 'clinicID']

prescription_cols = ['prescriptionID', 'petID', 'date_prescribed', 'vet', 'vetID', 'medication', 'dose', 'units', 'frequency', 'notes']

medadmin_cols = ['prescriptionID', 'petID', 'date_given', 'time_give', 'dose', 'units', 'notes']

In [98]:
pd.DataFrame(columns=record_cols).to_csv('./data/mel/records.csv')
pd.DataFrame(columns=test_cols).to_csv('./data/mel/tests.csv')
pd.DataFrame(columns=prescription_cols).to_csv('./data/mel/prescriptions.csv')
pd.DataFrame(columns=medadmin_cols).to_csv('./data/mel/med_admin.csv')

In [96]:
vet_cols = ['vetID', 'lastname', 'firstname', 'clinic', 'clinicID', 'notes']

clinic_cols = ['clinicID', 'clinicname', 'address', 'phone', 'website', 'text', 'email', 'notes']

pd.DataFrame(columns=vet_cols).to_csv('./data/vets.csv')
pd.DataFrame(columns=clinic_cols).to_csv('./data/clinics.csv')

## Vet & Clinic Records

In [102]:
vets= pd.read_csv('./data/vets.csv').drop(columns='Unnamed: 0')

In [103]:
vets

Empty DataFrame
Columns: [vetID, lastname, firstname, clinic, clinicID, notes]
Index: []

In [ ]:
vets_seen = [
    {
        'vetID': 93,
        'lastname': 'Fox',
        'firstname': 'Kenneth',
        'clinic': 'WECare', 
        'clinicID': 494,
        'notes': 'Emergency vet'
    },
    {
        'vetID': 33,
        'lastname': 'Webb',
        'firstname': 'Melissa',
        'clinic': 'VCA Three Notch Animal Hospital',
        'clinicID': 755,
        'notes': 'new primary for Mel (July 2025)'
    }
]

clinics_visited = [
    {
        'clinicID': 755,
        'clinicname': 'Three Notch',
        'address': '44215 Airport View Dr, Hollywood, MD 20636', 
        'phone': '301-373-8633', 
        'website': 'https://vcahospitals.com/three-notch', 
        'text': None, 
        'email': None, 
        'notes': 'Primary care for Mel 2025 -- present, Sebastian passed away here in summer 2011'
    },
    {
        'clinicID': 494,
        'clinicname': 'WECare',
        'address': '3485 Rockefeller Ct, Waldorf, MD 20602', 
        'phone': '301-705-9700', 
        'website': 'https://www.waldorfemergencycare.com/', 
        'text': None, 
        'email': 'wecare.waldorf@gmail.com', 
        'notes': 'Visited in June 2025 for Mel's limp, open 24/7/365'
    },
    {
        'clinicID': 440,
        'clinicname': 'Yarmouth Veterinary Center',
        'address': '5 Environmental Dr, Cumberland Foreside, ME 04110', 
        'phone': '207-846-6515', 
        'website': 'www.yarmouthvetcenter.com', 
        'text': '207-846-6515', 
        'email': 'clients@yarmouthvet.com', 
        'notes': 'primary care vet for Mel, 2022 -- 2025'
    },
    {
        'clinicID': 662,
        'clinicname': 'Park Veterinary Clinic',
        'address': , 
        'phone': , 
        'website': , 
        'text': , 
        'email': , 
        'notes': 'Closed, records with Three Notch, primary care for Sebastian 2008--2011, primary care for Mel 2011 -- 2022'
    },
    {
        'clinicID': 291,
        'clinicname': 'PetMedic Urgent Clinic -- Freeport, ME',
        'address': '200 Lower Main St, Freeport, ME 04032', 
        'phone': '207-805-5398', 
        'website': 'https://petmedicurgentcare.com/locations/freeport-me/', 
        'text': None, 
        'email': 'freeport@petmedicurgentcare.com', 
        'notes': 'emergency vet visited in spring 2023'
    }
#    {
#        'clinicID': 170,
#        'clinicname': '',
#        'address': , 
#        'phone': , 
#        'website': , 
#        'text': , 
#        'email': , 
#        'notes': 
#    },
]